*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: rgb(228, 19, 51) ;
    --secundary-color: rgb(39, 37, 37) ;
    --dark-primary-color: rgb(141, 21, 10) ;
    --dark-secundary-color: #0d0d0f ;
    --light-color: #fff;
    --dark-color: #2c2c2c ;
}

body {
    font-family: "arial";
    color: var(--dark-color);
}

a {
    text-decoration: none;
    color: unset;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.nav {
    background-color: #fff;
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 10px 0px 10px #ebebeb;
    z-index: 1;
}

.nav .inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin-inline: auto;
}

.logo {
    color: var(--primary-color)
}

.logo span {
    color: var(--dark-color)
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.navs-icon-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navs-icon-container svg {
    height: 1.5rem;
}

.navs-icon-container .shopping-cart {
    position: relative;
}

.navs-icon-container .shopping-cart .products-count {
    content: "";
    position: absolute;
    background-color: red;
    width: 1rem;
    height: 1rem;
    bottom: -8px;
    left: -8px;
    border-radius: 50%;
    color: #fff;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-bottom: solid var(--dark-color);
    margin-right: 1rem;
}

.search-input-container input {
    border: none;
    outline: none;
}

.search-input-container svg {
    height: 1rem;
    color: #808080;
}

nav ul li:hover {
    transform: translateY(-2px);
    transition: all 0.4s;
}

.menu-button{
    display: none;
}

/* HEADER COMEÇO*/

header {
    background-color: var(--primary-color);
}

header .inner-content {
    max-width: 1600px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 4rem;
    gap: 4rem;
}

header .left-side {
    color: #fff;
}

header .left-side h2 {
    font-size: 2.5rem;
}

header .left-side p {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.see-more-btn {
    background-color: var(--dark-primary-color);
    padding: 0.8rem 1rem;
    border-radius: 8px;
    transition: all 0.4s;
    display: flex;
    max-width: 170px;
    justify-content: space-between;
    align-items: center;
}

.see-more-btn:hover {
    background-color: var(--dark-color);
    max-width: 190px;
}

header .right-side img {
    width: 100%;
}

/* responsivo nav e header */

@media (max-width: 920px) {
    .nav h1 {
        font-size: 1.2rem;
    }

    header .inner-content {
        gap: 2rem;
        padding: 1.5rem;
        padding-top: 3rem;
    }

    header .left-side h2 {
        font-size: 1.8rem;
    }

    nav {
        position: absolute;
        top: 55px;
        left: 0;
        background-color: #fff;
        width: 100%;
        padding-bottom: 1rem;
        display: none;       
    }

    nav.show {
        display: block;
    }

    nav ul {
        flex-direction: column;
        gap: 1.5rem;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    }

    .menu-button {
        display: inline;
    }
}

@media (max-width: 780px) {
    header .inner-content{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 580px) {
    .search-input-container {
        display: none;
    }
}

/* main content */

.page-inner-content {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    place-content: center;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.product {
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.product .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.8rem;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    transition: all 0.4s;
}

.btn-icon:hover {
    background-color: var(--dark-primary-color);
}

.add-to-cart-btn {
    background-color: var(--secundary-color);
}

.add-to-cart-btn:hover {
    background-color: var(--dark-primary-color);
}

.section-title {
    padding-bottom: 2rem;
}

.section-title h3 {
    text-align: center;
    margin-top: 4rem;
}